

<div ng-controller="HomeInfo as home">
    <div class="span3 well">
        <center>
            <h3>{{home.user.name}}</h3>
            <em>{{home.user.department}}</em>, <em>{{home.user.site}}</em>
            <h5 class="text-success">{{'home.userInfo.cardsForWeek' | translate}}1 / 1</h5>
            <h5 class="text-info">{{'home.userInfo.cardsTotal' | translate}}20</h5>
        </center>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <input name="search" class="form-control"
                       type="text" ng-attr-placeholder="{{'global.search' | translate}}">
            </div>
            <div class="button-panel pull-right">
                <button class="btn btn-success" ng-click="home.newCard('lg')" translate="home.table.add">Add</button>
            </div>
        </div>
        <!--{{home.cards}}-->
        <!--{{home.page}}-->
        <!--{{currentPage}}-->
        <div class="row box">
            <table class="table  table-striped">
                <thead>
                <tr>
                    <th translate="home.table.headers.fillDate">Date of filling</th>
                    <th translate="home.table.headers.obsDateAndTime">Date and time of observation</th>
                    <th translate="home.table.headers.obsDepartment">Department of observation</th>
                    <th translate="home.table.headers.obsCategories">Observations</th>
                    <th translate="home.table.headers.obsFields">Remarks</th>
                    <th translate="home.table.headers.obsComment">Comment</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <td colspan="6" style="text-align: center;">
                        <pagination boundary-links="true"
                                    total-items="home.page.totalElements"
                                    num-pages="home.page.totalPages"
                                    items-per-page = "home.page.size"
                                    ng-model="currentPage"
                                    class="pagination-sm"
                                    previous-text="&lsaquo;"
                                    next-text="&rsaquo;"
                                    first-text="&laquo;"
                                    last-text="&raquo;"></pagination>

                    </td>
                </tr>
                </tfoot>
                <tbody>
                <tr ng-repeat="card in cards">
                    <td>{{card.cardDate | date: "short"}}</td>
                    <td>{{card.obsDate | date: "short"}}</td>
                    <td>{{card.obsDepartment.name[index.lang]}}</td>
                    <td  ng-init='obsCats=home.getObsCats(card.selectedCategories.categories)'>
                       <p ng-repeat = 'obsCat in obsCats'>{{obsCat.name[index.lang]}}</p>
                    </td>
                    <td  ng-init='obsFields=home.getObsFields(card.selectedFields.fields)'>
                        <p ng-repeat = 'obsField in obsFields'>{{obsField.name[index.lang]}}</p>
                    </td>
                    <td>{{card.comment}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


