

<div>
    <div class="span3 well">
        <center>
            <h3>{{authenticatedAccount.firstName}} {{authenticatedAccount.lastName}}</h3>
            <em>{{authenticatedAccount.userDepartment.name[index.lang]}}</em>, <em>{{authenticatedAccount.plant.plantCode}}</em>
            <h5 ng-class="home.cadsForWeek >= authenticatedAccount.userGroup.cardsCount ? 'text-success' : 'text-danger'">
                {{'home.userInfo.cardsForWeek' | translate}}{{home.cadsForWeek}} / {{authenticatedAccount.userGroup.cardsCount}}
            </h5>
            <h5 class="text-info">
                {{'home.userInfo.cardsTotal' | translate}}{{home.page.totalElements}}
            </h5>
        </center>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <input name="search" class="form-control"
                       type="text" ng-attr-placeholder="{{'global.search' | translate}}">
            </div>
            <div class="button-panel pull-right">
                <button class="btn btn-success" ng-click="home.newCard('lg')" translate="home.table.add">Add</button>
            </div>
        </div>
        <div class="row box">
            <table id="cardsTable" class="cards-table table table-striped">
                <thead>
                    <tr>
                        <th translate="home.table.headers.fillDate">Date of filling</th>
                        <th translate="home.table.headers.obsDateAndTime">Date and time of observation</th>
                        <th translate="home.table.headers.obsDepartment">Department of observation</th>
                        <th translate="home.table.headers.obsCategories">Observations</th>
                        <th translate="home.table.headers.obsFields">Remarks</th>
                        <th translate="home.table.headers.obsComment">Comment</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot ng-show="home.page.totalPages > 1">
                    <tr>
                        <td colspan="7" style="text-align: center;">
                            <uib-pagination boundary-links = "true"
                                            total-items="home.page.totalElements"
                                            num-pages="home.page.totalPages"
                                            items-per-page = "home.page.size"
                                            max-size = "home.maxPagerSize" 
                                            boundary-link-numbers = "true"
                                            rotate = "true"
                                            ng-model="currentPage"
                                            class="pagination-sm"
                                            previous-text="&lsaquo;"
                                            next-text="&rsaquo;"
                                            first-text="&laquo;"
                                            last-text="&raquo;">
                            </uib-pagination>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                <tr ng-repeat="card in home.cards">
                    <td class="cards-table__card-date">{{card.cardDate | date: "short"}}</td>
                    <td class="cards-table__obs-date">{{card.obsDate | date: "short"}}</td>
                    <td class="cards-table__obs-department">{{card.obsDepartment.name[index.lang]}}</td>
                    <td class="cards-table__obs-categories" ng-init='obsCats=home.getObsCats(card.selectedCategories.categories)'>
                       <p ng-repeat = 'obsCat in obsCats'>{{obsCat.name[index.lang]}}</p>
                    </td>
                    <td class="cards-table__obs-fields" ng-init='obsFields=home.getObsFields(card.selectedFields.fields)'>
                        <p ng-repeat = 'obsField in obsFields'>{{obsField.name[index.lang]}}</p>
                    </td>
                    <td class="cards-table__comment">{{card.comment}}</td>
                    <td  class="cards-table__utils">
                        <i ng-hide="!home.canChangeCard(card.cardDate)"
                           ng-attr-title="{{'home.table.edit' | translate}}"
                           class="fa fa-lg fa-pencil"
                           aria-hidden="true"></i>
                        <i ng-hide="!home.canChangeCard(card.cardDate)" 
                           ng-click="home.deleteCard(card.id)"
                           ng-attr-title="{{'home.table.delete' | translate}}"
                           class="fa fa-lg fa-trash-o"
                           aria-hidden="true"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


