<!-- Add Card modal window -->
<div class="modal-header">
    <h3 class="modal-title" translate>MODALADDHEAD</h3>
</div>
<form class="form-horizontal" name='cardForm' ng-submit='cardForm.$valid && card.ok()'>
    <div class="modal-body container-fluid">
        <div class="form-group row">
            <label  for="obsDate" class="col-sm-3 control-label" translate>OBSDATEANDTIME</label>
            <div  class="col-sm-8" ng-controller="DatepickerCtrl">
                <pre id="obsDate" class="form-control" >{{'DATEIS' | translate}}<em>{{card.obsDate | date:'longDate' }}</em> {{'TIMEIS' | translate}}{{card.obsTime | date:'H:mm' }}</pre>
                <datepicker style="float: left; width: 310px;" ng-model="card.obsDate" max-date="maxDay" min-date="minDay" show-weeks="true" starting-day="1" class="well well-sm"></datepicker>
                <div>
                    <center><timepicker class="obsTime" id="obsTime" ng-model="card.obsTime" hour-step="1" minute-step="1" show-meridian="false" readonly-input="false"></timepicker></center>
                </div>
            </div>
        </div>
        <div class="form-group row" >
            <label  for="obsDep" class="col-sm-3 control-label" translate>OBSDEPARTMENT</label>
            <div  class="col-sm-8">
                <select
                        id="obsDep" class="form-control" name="obsDep"
                        ng-model="card.selectedDep"
                        ng-options="obsDep.name[card.lang] for obsDep in card.obsDepartments"
                        ng-required="true">
                </select>
            </div>
        </div>
        <hr>
        <div  class="checkbox-group row">

            <div class="col-md-6" ng-repeat="obsCat in card.obsInfo">

                <label  class="control-label">
                    <input type="checkbox" checklist-value="obsCat.id" value="{{obsCat.id}}" checklist-model="card.checkedCats" ng-model="obsCat.disabled">
                    {{obsCat.name[card.lang]}}
                </label>

                <div class="checkbox" ng-repeat="item in obsCat.obsFields">
                    <label >
                        <input ng-disabled="!obsCat.disabled" ng-checked="obsCat.disabled && 0" type="checkbox" checklist-model="card.checkedFields"  checklist-value="item.id" value="{{item.id}}">
                        {{item.name[card.lang]}}
                    </label>
                </div>

            </div>
        </div>
        <hr>
        <div  ng-class="{'has-error': cardForm.comment.$error.maxlength}" class="form-group">
            <label  for="comment" class="col-sm-3 control-label" >
                {{'OBSCOMMENT' | translate}}
            </label>
            <div  class="col-sm-8">
                <textarea ng-maxlength="512" id="comment" name="comment" class="form-control" rows="5" ng-model="card.comment"></textarea>
                <span ng-show="cardForm.comment.$error.maxlength"   id="helpBlock" class="help-block" translate>COMMENTSIZEERROR</span>
            </div>

        </div>

    </div>

    <div class="modal-footer">
        <input type='submit' class="btn btn-primary" ng-disabled="(card.checkedCats.length < 1 || cardForm.$invalid)"  value="{{'DONE' | translate }}">
        <button class="btn btn-warning" ng-click="card.cancel()"  translate>CANCEL</button>
    </div>
</form>
<!-- Add Card modal window end-->
