<!doctype html>
<html ng-app="app.bop">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Safety cards for Bekaert">
    <meta name="author" content="Anatoly Yashkin">

    <title>Bekaert BOP</title>

    <link rel="stylesheet" type="text/css" href="assets\libs\bootstrap\dist\css\bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets\libs\bootstrap-language\languages.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets\libs\font-awesome\css\font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets\css\style.css"/>
    <link rel="stylesheet" type="text/css" href="app\components\login\login.style.css"/>

</head>
<body ng-controller="Index as index">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home" translate="title">BOP</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/help"><i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp; {{'global.menu.help' | translate}}</a></li>
            </ul>
        </div>
    </div>
</nav>

<main ng-controller="Login">
    <div class="container">
        <div class="alert alert-danger" ng-show="error" translate="login.messages.error">
            There was a problem logging in. Please try again.
        </div>
        <form class="form-login" ng-submit="login()">
            <h2 class="form-login-heading" translate="login.form.title">Please sign in</h2>

            <label for="inputEmail" class="sr-only" translate="login.form.email">Email address</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                <input type="email" id="inputEmail" class="form-control"
                       ng-attr-placeholder="{{'login.form.email' | translate}}" required autofocus>
            </div>

            <label for="inputPassword" class="sr-only" translate="login.form.password">Password</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                <input type="password" id="inputPassword" class="form-control"
                       ng-attr-placeholder="{{'login.form.password' | translate}}" required>
            </div>    

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> {{'login.form.rememberMe' | translate}}
                </label>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit" translate="login.form.submitButton">Sign in
            </button>
        </form>
    </div>
</main>

<nav class="navbar navbar-default navbar-fixed-bottom ">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">
                <p class="text-muted ">{{'footer' | translate}}
                    <a href="https://ru.linkedin.com/in/ayashkin" target="_blank"><i class="fa fa-linkedin-square fa-fw fa-lg" aria-hidden="true"></i></a>
                    <a href="https://github.com/anatolko" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
                    <a href="mailto:anatoly.yashkin@gmail.com" target="_blank"><i class="fa fa-envelope-o fa-fw fa-lg" aria-hidden="true"></i></a>
                </p>
            </div>
            <div class=".col-xs-6 .col-md-4 button-panel pull-right">

                <button type="button" class="btn btn-default navbar-btn" ng-click="index.changeLanguage('ru')"><span
                        class="lang-sm lang-lbl" lang="ru"></span></button>
                <button type="button" class="btn btn-default navbar-btn" ng-click="index.changeLanguage('en')"><span
                        class="lang-sm lang-lbl" lang="en"></span></button>
            </div>
        </div>
    </div>
</nav>

<script type="text/javascript" src="assets\libs\angular\angular.min.js"></script>
<script type="text/javascript" src="assets\libs\angular-translate\angular-translate.min.js"></script>
<script type="text/javascript" src="assets\libs\angular-i18n\angular-locale_ru-ru.js"></script>
<script type="text/javascript" src="assets\libs\angular-i18n\angular-locale_en.js"></script>
<script type="text/javascript" src="assets\libs\angular-cookies\angular-cookies.min.js"></script>
<script type="text/javascript" src="assets\libs\angular-translate-storage-cookie\angular-translate-storage-cookie.min.js"></script>
<script type="text/javascript" src="assets\libs\angular-translate-loader-static-files\angular-translate-loader-static-files.min.js"></script>
<script type="text/javascript" src="assets\libs\angular-translate-loader-partial\angular-translate-loader-partial.min.js"></script>
<script type="text/javascript" src="assets\libs\angular-bootstrap\ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="assets\libs\angular-resource\angular-resource.min.js"></script>
<script type="text/javascript" src="assets\libs\angular-ui-router\release\angular-ui-router.min.js"></script>
<script type="text/javascript" src="assets\libs\angular-spring-data-rest\dist\angular-spring-data-rest.min.js"></script>
<script type="text/javascript" src="assets\libs\angular-animate\angular-animate.min.js"></script>
<script type="text/javascript" src="assets\libs\angular-dynamic-locale\dist\tmhDynamicLocale.js"></script>
<script type="text/javascript" src="assets\libs\checklist-model\checklist-model.js"></script>
<script type="text/javascript" src="assets\libs\lodash\dist\lodash.min.js"></script>

<script type="text/javascript" src="app\app.module.js"></script>
<script type="text/javascript" src="app\app.config.js"></script>
<script type="text/javascript" src="app\app.routes.js"></script>
<script type="text/javascript" src="app\components\home\home.controller.js"></script>
<script type="text/javascript" src="app\components\card\card.controller.js"></script>
<script type="text/javascript" src="app\components\reports\reports.controller.js"></script>
<script type="text/javascript" src="app\components\login\login.controller.js"></script>
<script type="text/javascript" src="app\shared\services\obs-department.service.js"></script>
<script type="text/javascript" src="app\shared\services\obs-category.service.js"></script>
<script type="text/javascript" src="app\shared\services\obs-field.service.js"></script>
<script type="text/javascript" src="app\shared\services\card.service.js"></script>


</body>
</html>